@use "reset";
@use "themes";
@use "variables";

.app {
  min-height: 100vh;

  font: var(--font-m);

  color: var(--color-primary);

  background-color: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;

  padding: 20px;
}
