.app.dark {
  --bg-color: #252020;
  --bg-color-inverted: #e3e3e3;

  --color-primary: #49ff5a;
  --color-secondary: #68ff76;

  --color-primary-inverted: #001b5a;
  --color-secondary-inverted: #3466cf;
}
